run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["bun-1.2"]

[nix]
channel = "stable-24_11"
packages = ["cowsay"]

[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 5000
externalPort = 80
